@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.cdnfonts.com/css/playfair-display");
@import url("https://fonts.cdnfonts.com/css/aerospace");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Aerospace {
  font-family: "Aerospace", sans-serif;
}

.primary {
  background-color: #282a37;
}

.bg-biru {
  background-color: #007aff;
}

.text-biru {
  color: #007aff;
}

.textprimary {
  color: #007aff;
}

.textblack {
  color: #262626;
}

.sfprodisplay {
  font-family: "SF Pro Display", sans-serif;
}

.playfair {
  font-family: "Playfair Display", sans-serif;
}

.bgSidebar {
  background-color: #484848bb;
  backdrop-filter: blur(20px);
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.scrollbar-hide {
  scrollbar-width: none; /* Untuk Firefox */
  -ms-overflow-style: none; /* Untuk Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Edge */
}

.blue-bg {
  background-image: radial-gradient(
      circle at 32% 12%,
      rgba(229, 229, 229, 0.05) 0%,
      rgba(229, 229, 229, 0.05) 50%,
      rgba(101, 101, 101, 0.05) 50%,
      rgba(101, 101, 101, 0.05) 100%
    ),
    radial-gradient(
      circle at 49% 59%,
      rgba(113, 113, 113, 0.05) 0%,
      rgba(113, 113, 113, 0.05) 50%,
      rgba(240, 240, 240, 0.05) 50%,
      rgba(240, 240, 240, 0.05) 100%
    ),
    radial-gradient(
      circle at 16% 86%,
      rgba(118, 118, 118, 0.05) 0%,
      rgba(118, 118, 118, 0.05) 50%,
      rgba(207, 207, 207, 0.05) 50%,
      rgba(207, 207, 207, 0.05) 100%
    ),
    linear-gradient(252deg, rgb(0, 122, 255), rgb(0, 122, 255));
}

.game-category-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.bg-login {
  background-image: url(../../public/image/Marvelrivals.jpg);
}

.grad-login {
  background: rgb(39, 42, 55);
  background: linear-gradient(
    65deg,
    rgba(39, 42, 55, 1) 34%,
    rgba(39, 42, 55, 0.309) 95%
  );
}

.gamelistshadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.bukan-hitam {
  background-color: #252732;
}

.ini-scrollbar::-webkit-scrollbar {
  height: 15px;
}

.ini-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f5f5f5a8;
  border-radius: 50px;
}

.ini-wrapper::-webkit-scrollbar-track {
  display: none;
}

.cart-bg {
  background-image: radial-gradient(
      circle at 33% 41%,
      rgba(250, 250, 250, 0.03) 0%,
      rgba(250, 250, 250, 0.03) 50%,
      rgba(37, 37, 37, 0.03) 50%,
      rgba(37, 37, 37, 0.03) 100%
    ),
    radial-gradient(
      circle at 76% 49%,
      rgba(28, 28, 28, 0.03) 0%,
      rgba(28, 28, 28, 0.03) 50%,
      rgba(187, 187, 187, 0.03) 50%,
      rgba(187, 187, 187, 0.03) 100%
    ),
    radial-gradient(
      circle at 41% 99%,
      rgba(247, 247, 247, 0.03) 0%,
      rgba(247, 247, 247, 0.03) 50%,
      rgba(120, 120, 120, 0.03) 50%,
      rgba(120, 120, 120, 0.03) 100%
    ),
    radial-gradient(
      circle at 66% 27%,
      rgba(17, 17, 17, 0.03) 0%,
      rgba(17, 17, 17, 0.03) 50%,
      rgba(156, 156, 156, 0.03) 50%,
      rgba(156, 156, 156, 0.03) 100%
    ),
    linear-gradient(165deg, rgb(60, 60, 60), rgb(31, 30, 30));
}

.checkout-bg {
  background-image: radial-gradient(
      circle at 40% 49%,
      rgba(196, 196, 196, 0.04) 0%,
      rgba(196, 196, 196, 0.04) 50%,
      rgba(91, 91, 91, 0.04) 50%,
      rgba(91, 91, 91, 0.04) 100%
    ),
    radial-gradient(
      circle at 32% 80%,
      rgba(42, 42, 42, 0.04) 0%,
      rgba(42, 42, 42, 0.04) 50%,
      rgba(186, 186, 186, 0.04) 50%,
      rgba(186, 186, 186, 0.04) 100%
    ),
    radial-gradient(
      circle at 72% 99%,
      rgba(233, 233, 233, 0.04) 0%,
      rgba(233, 233, 233, 0.04) 50%,
      rgba(53, 53, 53, 0.04) 50%,
      rgba(53, 53, 53, 0.04) 100%
    ),
    linear-gradient(148deg, rgba(60, 60, 60, 0.6), rgba(84, 84, 84, 0.6)); /* < transparan */

  /* Glassmorphism effect */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 16px;
}

.cart-bg {
  background: #212430;
  background: linear-gradient(
    90deg,
    rgba(33, 36, 48, 1) 50%,
    rgba(40, 42, 55, 1) 50%
  );
}

.custom-shadow1 {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
